!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title NIJIBOX ENGINEER BLOG
    %link(href="/_assets/css/main.css" rel="stylesheet")
    %script(src="/_assets/js/marked.min.js")
    %script(src="/_assets/js/skel.min.js")
    %script(src="/_assets/js/jquery.min.js")
    %script(src="/_assets/js/jquery.easing.1.3.min.js")
    = javascript_include_tag 'application'

  %body.landing
    #react-app
