!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title NIJIBOX ENGINEER BLOG
    %link(href="/aux_assets/css/main.css" rel="stylesheet")
    %script(src="/aux_assets/js/marked.min.js")
    %script(src="/aux_assets/js/skel.min.js")
    = javascript_include_tag 'application'

  %body.landing
    #react-app
